* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*TODO: rewrite this*/
.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

.video-container video {
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-width: 30%;
    min-height: 30%;

    z-index: 1;
}

.video-overlay:hover .video-controls {
    opacity: 1;
}

.video-controls {
    font-size: 100px;
    opacity: 0;

    cursor: pointer;
    transition: opacity 0.2s ease-out;
}