* {
    padding: 0;
    margin: 0;
}

input {
    position: absolute
}

html,
body {
    width: 100%;
    height: 100%;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;

    transition: background-color 2s;
}

.grid-container {
    position: absolute;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 100px;

    display: grid;
}

.grid-item {
    display: block;
    object-fit: cover;
    object-position: center;

}

.box-image {
    filter: blur(5px);
    transition: filter 1s ease-out;
    width: 210px;
    height: 210px;
}

.grid-item:hover .box-image {
    filter: blur(0);
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 30px;
    height: 200px;
}

#box-1 {
    grid-column: 1;
    grid-row: 1;
}

#box-2 {
    grid-column: 3;
    grid-row: 1;
}

#mixer {
    grid-column: 2;
    grid-row: 2;
}

#box-3 {
    grid-column: 1;
    grid-row: 3;
}

#box-4 {
    grid-column: 3;
    grid-row: 3;
}
