* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: black;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#sound-volume-control {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /*background-color: cornflowerblue;*/
}

.volume-control-container {
    display: inline-block;

    height: 150px;
    width: 150px;
    object-fit: cover;
}

.volume-control-image {
    display: inline-block;
    height: 100%;
    width: 80%;
    object-fit: cover;

    margin-right: 5%;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 5%;
    height: 100%;
}

#sound-walk-container {
    flex: 3;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: pink;*/
}

#sound-walk {
    background-color: black;
    color: black;
}

#sound-nodes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    flex: 1;
    height: 100%;

    /*background-color: darkseagreen;*/
}

.sound-node {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sound-node-text {
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.sound-node-description {
    color: white;
    text-align: center;
}

.sound-node-circle-container {
    position: relative;

    height: 50px;

    /*height: 100%;*/
}

.sound-node-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    border: solid white;
    background-color: red;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.draggable {}